.naslov{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #6A6FB3, #80CDD7);
    -fx-background-radius: 15; 
    -fx-border-radius: 30;
    -fx-padding: 15;
}

.opis{
    -fx-background-color: #333333;
    -fx-background-radius: 15; 
    -fx-border-radius: 30;
    -fx-padding: 15;
}

.dodatno{
    -fx-background-color: #333333;
    -fx-background-radius: 15; 
    -fx-border-radius: 30;
    
}

.buttoni{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #6A6FB3, #80CDD7);
    -fx-background-radius: 15; 
    -fx-border-radius: 20;
}

.buttoni:hover{
    -fx-background-color: linear-gradient(to right, #5158b4, #91ced6);
    -fx-cursor: pointer;
}

.slika{
    -fx-background-radius: 15; 
    -fx-border-radius: 30;
}

.ikone{
    -fx-background-radius: 10; 
    -fx-border-radius: 10;
    -fx-background-color: #333333;
}

.sektori{
    -fx-spacing: 15px;  
}